/* Colors */
$default-main-color: #8764c7;

/* Sizes */
$phablets-min-width: 440px;
$tablets-min-width: 770px;
$computers-min-width: 880px;

$navigation-width: 230px;
$navigation-minimized-width: 55px;
